extends ../_component/layout/base

block config
    -
        var title='HTML5 introduction'
        var descripetion ='Discover HTML for beginners' 
block content
    .content
        h2 Read more to find out how cool HTML really is
        .list-wrapper
            each article in data.html
                include ../_component/article/article
                //- pre=JSON.stringify(article, null, 2)