extends ../_component/layout/base

block config
    -
        var title='Contact Quick Blog'
        var descripetion ='Contact me, the creator, Nicolae Valentin' 

block content
    .content
        h2 Contact Iformation
        p You can find me on those social media platforms:
        ul
            li
                a(title="") Facebok
            li
                a(title="") Twitter
            li
                a(title="") LinkedIn
            li
                a(title="") Youtube
            li
                a(title="") StackOver
        hr
        figure.image-container
            img.image(src='_asset/image/Job.jpg')
            figcaption.image-caption
                strong Note
                span :My passion