footer
    .footer
        div &copy; 2019 Valentin Nicolae
        ul.footer__list
            li
                a.footer__link(href="/privacy")  Privacy
            li
                a.footer__link(href="/policy") Policy